version: "3.9"

services:
  jumpbox:
    build: .
    container_name: jumpbox
    hostname: jumpbox
    cpus: 1.0
    mem_limit: 512m
    volumes:
      - jumpbox_data:/data
    ports:
      - "2222:22"
    networks:
      - labnet

  server:
    build: .
    container_name: server
    hostname: server
    cpus: 1.0
    mem_limit: 2g
    volumes:
      - server_data:/data
    ports:
      - "2223:22"
    networks:
      - labnet

  node-0:
    build: .
    container_name: node-0
    hostname: node-0
    cpus: 1.0
    mem_limit: 2g
    volumes:
      - node0_data:/data
    ports:
      - "2224:22"
    networks:
      - labnet

  node-1:
    build: .
    container_name: node-1
    hostname: node-1
    cpus: 1.0
    mem_limit: 2g
    volumes:
      - node1_data:/data
    ports:
      - "2225:22"
    networks:
      - labnet

networks:
  labnet:
    driver: bridge

volumes:
  jumpbox_data:
    driver: local
    driver_opts:
      o: size=10G
      type: tmpfs
      device: tmpfs

  server_data:
    driver: local
    driver_opts:
      o: size=20G
      type: tmpfs
      device: tmpfs

  node0_data:
    driver: local
    driver_opts:
      o: size=20G
      type: tmpfs
      device: tmpfs

  node1_data:
    driver: local
    driver_opts:
      o: size=20G
      type: tmpfs
      device: tmpfs
